.catalogue {
  font-size: 0;
}
.catalogue .cell {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  padding: 16px;
  font-size: 16px;
}
.product-img {
  background: var(--muted);
  height: 140px;
  border-radius: 12px;
}
