.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 8px;
}
.breadcrumbs li {
  display: inline-block;
}
.sep {
  padding: 0 8px;
  color: var(--text-soft);
}
.pagination {
  margin-top: 12px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  padding: 12px;
}
.pagination .current {
  background: var(--primary-100);
  color: var(--primary);
  border-radius: 999px;
}
