#menu {
  position: relative;
  left: -9999px;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  padding: 12px;
}
@media (max-width: 640px) {
  #menu ~ .nav {
    display: none;
  }
  #menu:checked ~ .nav {
    display: block;
  }
  .nav li {
    display: block;
  }
}
