.footer {
  background: var(--bg);
}
.footer .col {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  padding: 16px;
}
.footer ul {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}
@media (max-width: 640px) {
  .footer .col {
    width: 100%;
  }
}
