table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
thead {
  background: var(--primary-100);
  color: var(--primary);
}
th,
td {
  padding: 12px;
}
tbody tr:nth-child(even) {
  background: #fbfefe;
}
tbody tr:hover {
  background: #f2fbf9;
}
